SANITY_PROJECT_ID=a8tacmnf
SANITY_DATASET=production
SANITY_API_TOKEN=sk2nMdkOVxfEnbRl9LsF3LC5m16mWGSOIaputbxwuFKLUG09N3RDpzi0jplelUjgyD3wDYWssGCZrnwqRPLDrTaDLbGaD8zPBjGWtphmQb2VuzMzmot8cQSAWuieNl6kK2RpE4Z0s9jPJd0QToOiIly7s0giiU4MCCyC4F3wjlnnnt8ZrZ6p
CONTENT_AUTOMATION_SECRET=wdgvcygevxytqwfywdguw3672ehjsnq
